.main-bg {
    background: url("../img/BG.png");
    min-height: 100vh;
}

.container {
    padding: 30px;
}

table {
    margin: 10px auto;
}

th, td {
    border-collapse: collapse;
    border-left: 1px solid lightgrey;
}

.pricing {
    width: 310px;
    height: 156px;
    background: #fafafa;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    text-transform: uppercase;
}

.plan {
    width: 277px;
    height: 70px;
    font-family: 'Arimo', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.plan-st {
    background-color: #89c331;
}

.plan-ul {
    background-color: #f04a56;
}

.plan-pr {
    background: #20807c;;
}

.pricing {
    position: relative;
}

.month {
    background-color: #fafafa;
}

.side {
    position: relative;
    box-sizing: border-box;
}

.one {
    color: #484848;
    font-size: 60px;
    font-family: 'Arimo', sans-serif;
}

.one:after {
    content: "per month";
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: -10px;
}

.two {
    display: inline-block;
    position: absolute;
    top: 10px;
    font-family: 'Arimo', sans-serif;
    color: #484848;
}

.lite:nth-child(odd) {
    background-color: #f2f2f2;
    color: #484848;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    width: 310px;
    height: 69px;
    text-align: center;
    text-transform: uppercase;
}

.fix:nth-child(even) {
    width: 310px;
    height: 69px;
    background-color: #e3e3e3;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.button {
    width: 310px;
    height: 100px;
    background-color: #eeeeee;
}

.bt {
    border-radius: 5px;
    background-color: #484848;
    width: 192px;
    height: 49px;
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
    outline: none;
}

.st {
    background-color: #89c331;
}

.ul {
    background-color: #f04a56;
}

.pr {
    background-color: #20807c;
}
.lite i{
    color:  #848484;
    font-size: 24px;
}
.fix i{
    color:  #848484;
    font-size: 24px;
}
.bt:hover{
    border-radius: 5px;
    background-color: coral;
    width: 192px;
    height: 49px;
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
    outline: none;
}
.st:hover {
    background-color: #4bcaff;
}

.ul:hover {
    background-color: #551155;
}

.pr:hover {
    background-color: orange;

}